replicaCount: 2

image:
  repository: 905418283021.dkr.ecr.ap-south-1.amazonaws.com/my-docker-repo
  tag: ""                # Jenkins will override this dynamically via --set image.tag
  pullPolicy: IfNotPresent
  # imagePullSecrets: ["regcred"]   # Uncomment if your repo requires auth (ECR handles this via IAM)

service:
  type: ClusterIP
  port: 5000
  targetPort: 5000

resources: {}
# Example (optional):
# resources:
#   requests:
#     cpu: 100m
#     memory: 256Mi
#   limits:
#     cpu: 500m
#     memory: 512Mi

env: []
# Example:
# env:
#   - name: SPRING_PROFILES_ACTIVE
#     value: "prod"

livenessProbe:
  enabled: true
  path: /
  port: 5000
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  enabled: true
  path: /
  port: 5000
  initialDelaySeconds: 10
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

ingress:
  enabled: true
  className: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: my-java-app.example.com    # Replace this with your actual DNS or ingress host
      paths:
        - path: /
          pathType: Prefix
  tls: []  # Optional, add cert-manager or ACM configuration here
