replicaCount: 2

image:
  repository: vandana/my-java-app
  tag: "latest"
  pullPolicy: IfNotPresent
  # imagePullSecrets: ["regcred"]   # Uncomment if using private Docker Hub repo

service:
  type: ClusterIP
  port: 5000
  targetPort: 5000

resources: {}

env: []

livenessProbe:
  enabled: true
  path: /
  port: 5000
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  enabled: true
  path: /
  port: 5000
  initialDelaySeconds: 10
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

ingress:
  enabled: true
  className: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: my-java-app.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
